[Unit]
Description=auto-epp-go - Automatic EPP Changer for amd-pstate-epp
After=network.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/auto-epp-go
Restart=on-failure

[Install]
WantedBy=multi-user.target
